<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.rl.project.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityProfile</servlet-name>
        <servlet-class>ru.rl.project.controller.EntityProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activator</servlet-name>
        <servlet-class>ru.rl.project.controller.Activator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectEntityInfo</servlet-name>
        <servlet-class>ru.rl.project.controller.DirectEntityInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewer</servlet-name>
        <servlet-class>ru.rl.project.controller.Viewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LearnServlet</servlet-name>
        <servlet-class>ru.rl.project.controller.LearnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>ru.rl.project.controller.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LearnServlet</servlet-name>
        <url-pattern>/learn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewer</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activator</servlet-name>
        <url-pattern>/doActive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectEntityInfo</servlet-name>
        <url-pattern>/directInfo</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>ru.rl.project.exception.JDBCException</exception-type>
        <location>/db_error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
